name: discoucher
description: Discoucher android app
version: 1.0.0+1
author: Bespoke Fusion <denpalrius@bespokefusion.com>
homepage: http://www.discoucher.com/

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^0.4.2
  share: ^0.5.2
  uuid: ^1.0.3
  flutter_local_notifications: ^0.3.3
  carousel_slider: ^0.0.6
  flutter_facebook_login: ^1.1.1
  google_sign_in: ^3.0.4
  url_launcher: ^3.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_cache_manager:
    git: https://github.com/Cretezy/flutter_cache_manager.git

# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  uses-material-design: true
  assets:
    - images/
    - images/establishments/
    - images/social/
    - images/uvp/

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
